@icon-font-path: "bootstrap/fonts/";

@import 'bootstrap/less/bootstrap.less';

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}

#menu {
  margin-bottom: 20px;
}

.square {
  border: 1px solid #ddd;
  width: 50px;
  height: 50px;
  display: inline-block;
  position: absolute;
  &.selected {
    border-color: #666
  }
}

@wall: 4px solid black;
[data-allows="all"] {
}
[data-allows=""] {
  border-top: @wall;
  border-right: @wall;
  border-bottom: @wall;
  border-left: @wall;
}
[data-allows="up"] {
  border-right: @wall;
  border-bottom: @wall;
  border-left: @wall;
}
[data-allows="right"] {
  border-top: @wall;
  border-bottom: @wall;
  border-left: @wall;
}
[data-allows="down"] {
  border-top: @wall;
  border-right: @wall;
  border-left: @wall;
}
[data-allows="left"] {
  border-top: @wall;
  border-right: @wall;
  border-bottom: @wall;
}
[data-allows="up-right"] {
  border-bottom: @wall;
  border-left: @wall;
}
[data-allows="up-down"] {
  border-right: @wall;
  border-left: @wall;
}
[data-allows="up-left"] {
  border-right: @wall;
  border-bottom: @wall;
}
[data-allows="right-down"] {
  border-top: @wall;
  border-left: @wall;
}
[data-allows="right-left"] {
  border-top: @wall;
  border-bottom: @wall;
}
[data-allows="down-left"] {
  border-top: @wall;
  border-right: @wall;
}
[data-allows="up-right-down"] {
  border-left: @wall;
}
[data-allows="up-right-left"] {
  border-bottom: @wall;
}
[data-allows="up-down-left"] {
  border-right: @wall;
}
[data-allows="right-down-left"] {
  border-top: @wall;
}

#map {
  margin: 0 auto;
  padding: @squareWidth;
  text-align: center;

  .map-chrome {
    position: relative;
    margin: 0 auto;

    .chrome {
      border: 1px dashed grey;
      &:hover {
        border-color: black;
      }
    }
    .chrome-hidden {
      visibility: hidden;
    }

  }

  .map-surface {
    position: relative;
    margin: 0 auto;

    .move-candidate {
      width: 15px;
      height: 15px;
      position: relative;
      background-color: yellow;
      margin: 0 auto;
    }

    .map-row {
      display: block;
    }
  }
}

@team-red: #c14234;
@team-blu: #598aaa;
@squareWidth: 50px;

[data-player="player1"] {
  background-color: @team-blu;
}

[data-player="player2"] {
  background-color: @team-red;
}

#hud-actions {
  float: left;
}

#hud-squares {
  float: right;
  .hud-square-list {
    .hud-square-item {
      list-style: none;

      .rotate {
        height: @squareWidth;
      }

      .hud-square {
        float: left;
        width: @squareWidth;
        height: @squareWidth;
        margin: 2px;
      }

      .rotate {
        float: left;
        visibility: hidden;
      }
    }

    .hud-square-item:hover {
      .rotate {
        visibility: visible;
      }
    }
  }
}


[data-pos-y="top"] { top: -@squareWidth; }
[data-pos-x="right"] { right: -@squareWidth; }
[data-pos-y="bottom"] { bottom: -@squareWidth; }
[data-pos-x="left"] { left: -@squareWidth; }

[data-pos-x="0"] { left: 0px; }
[data-pos-x="1"] { left: @squareWidth; }
[data-pos-x="2"] { left: @squareWidth * 2; }
[data-pos-x="3"] { left: @squareWidth * 3; }
[data-pos-x="4"] { left: @squareWidth * 4; }
[data-pos-x="5"] { left: @squareWidth * 5; }
[data-pos-x="6"] { left: @squareWidth * 6; }
[data-pos-x="7"] { left: @squareWidth * 7; }
[data-pos-x="8"] { left: @squareWidth * 8; }
[data-pos-x="9"] { left: @squareWidth * 9; }

[data-pos-y="0"] { top: 0px; }
[data-pos-y="1"] { top: @squareWidth; }
[data-pos-y="2"] { top: @squareWidth * 2; }
[data-pos-y="3"] { top: @squareWidth * 3; }
[data-pos-y="4"] { top: @squareWidth * 4; }
[data-pos-y="5"] { top: @squareWidth * 5; }
[data-pos-y="6"] { top: @squareWidth * 6; }
[data-pos-y="7"] { top: @squareWidth * 7; }
[data-pos-y="8"] { top: @squareWidth * 8; }
[data-pos-y="9"] { top: @squareWidth * 9; }
