<div class="row">
  <div class="col-xs-6">
    <form id="menu-join">
      <div class="input-group">
        <input type="text" class="form-control">
        <div class="input-group-btn">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Join <span class="caret"></span></button>
          <ul class="dropdown-menu pull-right">
            <li><a href="#">This game</a></li>
            <li><a href="#">Any game</a></li>
            <li class="divider"></li>
          </ul>
        </div><!-- /btn-group -->
      </div><!-- /input-group -->
    </form>
  </div><!-- /.col -->

  <div class="col-xs-6">
    <form id="menu-host">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="<%= hostName %>">
        <div class="input-group-btn">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Host <span class="caret"></span></button>
          <ul class="dropdown-menu pull-right">
          </ul>
        </div><!-- /btn-group -->
      </div><!-- /input-group -->
    </form>
  </div><!-- /.col -->
</div>
