<div class="row">
  <div class="col-xs-6">
    <div class="input-group">
      <input type="text" class="form-control">
      <div class="input-group-btn">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Join <span class="caret"></span></button>
        <ul class="dropdown-menu pull-right">
          <li><a href="#">This game</a></li>
          <li><a href="#">Any game</a></li>
          <li class="divider"></li>
          <li><a data-stage-name="stage1"href="#">Stage 1 (2 players)</a></li>
          <li><a data-stage-name="stage2" href="#">Stage 2 (2 players)</a></li>
          <li class="disabled"><a data-stage-name="stage3" href="#">Stage 3 (4 players)</a></li>
        </ul>
      </div><!-- /btn-group -->
    </div><!-- /input-group -->
  </div><!-- /.col -->

  <div class="col-xs-6">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Enter a name for your game">
      <div class="input-group-btn">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Host <span class="caret"></span></button>
        <ul class="dropdown-menu pull-right">
          <li><a data-stage-name="stage1"href="#">Stage 1 (2 players)</a></li>
          <li><a data-stage-name="stage2" href="#">Stage 2 (2 players)</a></li>
          <li class="disabled"><a data-stage-name="stage" href="#">Stage 3 (4 players)</a></li>
        </ul>
      </div><!-- /btn-group -->
    </div><!-- /input-group -->
  </div><!-- /.col -->
</div>
